Source: wazo-c4-sbc
Section: comm
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.2.1

Package: wazo-c4-sbc
Architecture: all
Section: comm
Depends: kamailio, ${misc:Depends}
Description: Kamailio configuration files for Wazo C4 SBC component
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
